$fontFamily: 'Roboto';

$minWidth: 320px;

$headerHeight: 70px;
$logoNavbarWidth: 200px;
$menuBoxSize: 70px;

$tablet-breakpoint: 739px;
$phone-breakpoint: 629px;

$primaryColor: #2e2e2e;
$secondaryColor: #ec5f5f;
$navbarColor: #363636;
$hoverNavbarColor: #444444;