$fontFamily: 'Roboto';

$minWidth: 320px;

$headerHeight: 55px;
$logoNavbarWidth: 200px;

$mobileL: 425px;

$primaryColor: #252525;
$secondaryColor: #ec5f5f;
$darkGray: #2b2b2b;
$gray: #313131;
$lightGrayColor: #363636;
$hoverLightGrayColor: #444444;
$hightLight: #666666;
$modalColor: #0f0f0fe6;