@import '../../sass/variables.scss';

.main {
	grid-area: main;
	margin-top: 5px;
	padding: 35px 10px 100px 40px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;

	.main-title {
		font-size: 24px;
	}

	.main-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		&-item {
			margin-top: 35px;
			margin-right: 45px;

			.item-image {
				//TODO delete bgColor
				background-color:purple;

				border-radius: 6px;
				height: 250px;
				width: 200px;
			}

			.item-description {
				margin-top: 10px;

				&-title {
					margin-bottom: 6px;
				}
			}
		}
	}
}

@media (max-width: $tablet-breakpoint) {
	.main {

		padding-left: 35px;

		.main-content {
			
	    &-item {
				margin-top: 20px;
	
				.item-image {
					height: 200px;
					width: 150px;
				}
			}
		}
	}
}

@media (max-width: $phone-breakpoint) {

	.main {
		
		.main-content {

			&-item {

				.item-image {
					height: 180px;
					width: 130px;
				}
			}
		}
	}
}

@media (max-width: 394px) {

	.main {
		
		.main-content {
			flex-flow: column nowrap;
			align-items: center;

			&-item {

				.item-image {
					height: 200px;
					width: 150px;
				}
			}
		}
	}
}