@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';

$desktopImgWidth: 300px;
$mobileImgWidth: 200px;

.active {
	display: inline;
}

.inactive {
	display: none;
}



.people {
	grid-area: main;
	height: calc(100vh - 55px);
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 20px 0px 0px 20px;

	@include _425 {
		padding: 10px 0 0 10px;
	}


	.not-found {
		display: flex;
		justify-content: center;
		text-align: center;
		line-height: 1.2;
		font-size: 38px;

		@include _425 {
			font-size: 24px;
		}
	}

	&-detail {

		&-name {
			font-size: 36px;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid $secondaryColor;

			@include _425 {
				font-size: 26px;
			}
		}

		.main-info-block {
			display: flex;

			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid $secondaryColor;

			@include _425 {
				flex-direction: column;
				align-items: center;
			}
			
			.poster {
				width: $desktopImgWidth;
				height: $desktopImgWidth * $aspectRatio;
				border-radius: 6px;
				margin-right: 20px;

				@include _425 {
					width: $mobileImgWidth;
					height: $mobileImgWidth * $aspectRatio;
					margin-right: 0;
					margin-bottom: 10px;
				}
			}

			.info {

				@include _425 {
					margin-left: 10px;
					margin-right: 10px;
				}

				&-item {
					line-height: 1.5;

					@include _425 {
						font-size: 16px;
					}
					
					&-title {
						color: $secondaryColor;
					}

					.show_all {
						border: 1px solid $secondaryColor;
						border-radius: 6px;
						padding: 0px 6px;
						transition: .1s ease;
						white-space: nowrap;

						&:hover {
							cursor: pointer;
							background-color: $secondaryColor;
						}
					}

					.hide_all {
						border: 1px solid $secondaryColor;
						border-radius: 6px;
						padding: 2px 6px;
						transition: .1s ease;
						white-space: nowrap;

						&:hover {
							cursor: pointer;
							background-color: $secondaryColor;
						}
					}
				}
			}
		}

	}

	.movie-credits {
		.cast-credit {
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid $secondaryColor;

			span {
				display: inline-block;
				font-size: 28px;
				margin-bottom: 10px;

				@include _425 {
					font-size: 22px;
				}
			}

			&-items {
				display: flex;
				flex-flow: row nowrap;
				overflow-x: scroll;
				overflow-y: hidden;

				.item {
					display: flex;
					flex-direction: column;
					align-items: center;

					a {
						text-align: center;
						color: #ffffff;
						transition: .2s ease;

						&:hover {
							color: $secondaryColor;
						}
					}

					&-title {
						line-height: 1.2;
						margin-top: 8px;
						padding-right: 20px;

						@include _425 {
							margin-top: 5px;
							font-size: 16px;
						}
					}
						
					img {
						width: 200px;
						height: $aspectRatio * 200px;
						margin-right: 20px;
						border-radius: 6px;

						@include _425 {
							width: 150px;
							height: $aspectRatio * 150px;
						}
					}

					.empty-poster {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 200px;
						height: $aspectRatio * 200px;
						font-size: 28px;
						color: #ffffff;
						background-color: $lightGrayColor;
						user-select: none;
						border-radius: 6px;
						margin-right: 20px;
						transition: .2s ease;

						&:hover {
							background-color: $hoverLightGrayColor;
						}

						@include _425 {
							width: 150px;
							height: $aspectRatio * 150px;
							font-size: 24px;
						}
					}
				}
			}
		}

		.crew-credit {
			&-department {
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid $secondaryColor;

				span {
					display: inline-block;
					font-size: 28px;
					margin-bottom: 10px;

					@include _425 {
						font-size: 22px;
					}
				}

				.department-wrapper {
					display: flex;
					flex-flow: row nowrap;
					overflow-x: scroll;
					overflow-y: hidden;

					.item {
						display: flex;
						flex-direction: column;
						align-items: center;

						a {
							text-align: center;
							color: #ffffff;
							transition: .2s ease;

							&:hover {
								color: $secondaryColor;
							}
						}

						&-title {
							line-height: 1.2;
							margin-top: 8px;
							padding-right: 20px;

							@include _425 {
								margin-top: 5px;
								font-size: 16px;
							}
						}
							
						img {
							width: 200px;
							height: $aspectRatio * 200px;
							margin-right: 20px;
							border-radius: 6px;

							@include _425 {
								width: 150px;
								height: $aspectRatio * 150px;
							}
						}

						.empty-poster {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 200px;
							height: $aspectRatio * 200px;
							font-size: 28px;
							color: #ffffff;
							background-color: $lightGrayColor;
							user-select: none;
							border-radius: 6px;
							margin-right: 20px;
							transition: .2s ease;

							&:hover {
								background-color: $hoverLightGrayColor;
							}

							@include _425 {
								width: 150px;
								height: $aspectRatio * 150px;
								font-size: 24px;
							}
						}
					}
				}
			}
		}
	}

}