@import '../../../sass/variables.scss';

.list-description {
	padding: 20px 20px 0px 20px;
	line-height: 1.5;
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100vh - 70px);

	grid-area: main;

	.not-found {
		display: flex;
		justify-content: center;
		font-size: 38px;
	}

	.block {
		border-bottom: 1px solid $secondaryColor;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

	.detail {
		&-title {
			font-size: 38px;
		}

		&-created-by {
			font-size: 22px;
			opacity: 0.8;
			margin-left: 10px;
		}

		&-favorite-count {
			font-size: 22px;
			padding: 3px 5px;
			svg {
				color: $secondaryColor;
			}
		}

		&-items-count {
			margin-left: 10px;
			font-size: 22px;
			padding: 3px 5px;

			svg {
				color: #9FA8DA;
			}
		}

		&-description {
			&-title {
				font-size: 24px;
			}
		}

		&-items {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;

			.item {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 35px;
				width: 250px;

				&-image {
					img {
						border-radius: 6px;
						height: 300px;
						width: 200px;
						transition: .3s ease;

						&:hover {
							opacity: .65;
						}
					}

					.empty-poster {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 200px;
						height: 300px;
						border-radius: 6px;
						transition: .3s ease;
						color: #ffffff;
						background-color: #363636;

						&:hover {
							background-color: #444444;
						}
					}

				}

				&-title {
					text-align: center;
					margin-top: 6px;

					& a {
						color: #ffffff;
					}

					& a:hover {
						color: $secondaryColor;
					}
				}
			}
		}

	}
}

.create-list-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	line-height: 1.5;
	height: calc(100vh - 70px);
	overflow: hidden;

	grid-area: main;

	.create-list-form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: 2px solid #949494;
		border-radius: 12px;
		overflow: hidden;
		width: 60%;
		height: 80%;
		padding: 20px;
		background-color: $lightGrayColor;
		min-height: 400px;

		.form-title {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			font-size: 38px;
		}

		label {
			font-size: 22px;
		}

		input[type="text"] {
			min-height: 40px;
			border-radius: 6px;
			padding: 0 10px;
			font-size: 22px;
		}

		textarea {
			min-height: 40px;
			max-width: 100%;
			font-size: 22px;
			border-radius: 6px;
			padding: 5px 10px;
		}

		button {
			font-size: 22px;
			background-color: transparent;
			color: #ffffff;
			border: 2px solid $secondaryColor;
			border-radius: 6px;
			padding: 6px 10px;
			transition: .2s ease;

			&:hover {
				background-color: $secondaryColor;	
			}
		}
	}

}