@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.header {
	grid-area: header;
	display: flex;
	background-color: $gray;
	min-width: 320px;
	width: 100%;
	position: fixed;

	.menu-box {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		min-width: 55px;
		width: 55px;
		background-color: transparent;
		font-size: 24px;

		&:focus {
			background-color: $hoverLightGrayColor;
		}

		svg:hover {
			cursor: pointer;
		}
	}

	.menu {
		display: flex;
		flex-direction: column;
		&.active {
			position: fixed;
			top: 0;
			left: 0;
			width: 270px;
			height: 100vh;
			background-color: $lightGrayColor;
			z-index: 5;
			transition: left .2s ease-in-out;
		}

		&.inactive {
			position: fixed;
			left: -270px;
			width: 270px;
			height: 100vh;
			background-color: $lightGrayColor;
			z-index: 2;
			transition: left .2s ease-in-out;
		}

		&-header {
			display: flex;
			align-items: center;
			min-height: $headerHeight;
			font-size: 24px;
			border-bottom: 1px solid $hightLight;

			& .header-logo {
				@include _559 {
					display: block;
				}
			}
		}

		&-navigation-body {
			overflow-x: hidden;
			overflow-y: auto;

			nav {
				padding: 15px 0;
				border-bottom: 1px solid $hightLight;
				line-height: 1.5;
	
				li {
					height: 50px;
					
					a {
						padding-left: 15px;
						display: flex;
						align-items: center;
						height: inherit;
						width: 100%;
						color: #ffffff;
						font-size: 20px;

						@include _559 {
							font-size: 18px;
						}
	
						svg {
							margin-right: 15px;
							font-size: 30px;
							width: 30px;

							@include _559 {
								font-size: 22px;
							}
						}
						
						&.active-link {
							svg {
								color: $secondaryColor;
							}
						}
	
						&:hover {
							background-color: #545454;
						}
					}
				}
	
			}
		}

	};

	.menu-shadow {
		&.active {
			position: fixed;
			top: 0;
			width: 100vw;
			height: 100vh;
			background-color: #222;
			opacity: 0.5;
			z-index: 1;
		}
	}

	&-logo {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 200px;
		}

		@include _559 {
			display: none;
		}
	}

	&-search {
		height: $headerHeight;
		margin-left: auto;

		&-btn {
			height: 100%;
			font-size: 18px;
			color: #ffffff;
			background: transparent;
			transition: .3s ease;

			@include _559 {
				font-size: 16px;
			}

			&:hover {
				color: $secondaryColor;
			}
		}

		.search-box {
			display: none;
			position: fixed;
			top: 0;
			left: 50%;
    	transform: translate(-50%, 0);
			min-width: 320px;
			width: 75%;
			background-color: #111111;
			z-index: 10;

			@include _559 {
				width: 100%;
			}

			// if display flex
			flex-flow: column nowrap;
			justify-content: flex-start;

			input[type='text'] {
				min-height: $headerHeight;
				background-color: #111111;
				color: #ffffff;
				font-size: 24px;
				border-bottom: 1px solid $hoverLightGrayColor;
				padding-left: 20px;

				@include _559 {
					font-size: 18px;
					padding-left: 10px;
				}
			}

			.search-result {
				max-height: 50vh;
				overflow-y: scroll;

				.no-result {
					padding: 20px;
				}
	
				.result {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					min-height: 50px;
					padding: 0 20px;
					line-height: 1.5;
					border-top: 1px solid $hoverLightGrayColor;

					@include _559 {
						padding: 0px 10px;
						font-size: 16px;
					}
	
					&:last-child {
						border-bottom: 1px solid $hoverLightGrayColor;
					}
	
					&-title {
						color: #ffffff;
						margin-right: 20px;
	
						&:hover {
							color: $secondaryColor;
						}
					}
	
					&-rating {
						display: flex;
						align-items: center;
						margin-left: auto;
						.star {
							color: #FFD54F;
							font-size: 12px;
							margin-right: 4px;
						}
					}
				}
			}
		}
	}

	&-authorization {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		width: 120px;
		color: #ffffff;
		font-size: 18px;
		min-width: 70px;
		user-select: none;

		margin-left: auto;

		.sign-in-button {
			height: $headerHeight - 15px;
			border-radius: 6px;
			width: 70%;
			font-size: 18px;
			border: 2px solid $secondaryColor;
			background-color: $darkGray;
			color: #ffffff;
			transition: .2s ease;
			
			&:hover {
				background-color: $secondaryColor;
			}
		}

		.profile-button {
			.avatar {
				cursor: pointer;
				background-color: $hoverLightGrayColor;
				width: $headerHeight - 15px;
				height: $headerHeight - 15px;
				border-radius: 100%;
			}

			.dropdown-menu {
				display: none;
			}

			& .dropdown-menu.active {
				display: block;
				position: fixed;
				width: 160px;
				right: 0;
				left: auto;
				z-index: 1;
				background-color: $hoverLightGrayColor;
				border: 1px solid #555555;
				border-radius: 6px;
				margin-top: 10px;
				margin-right: 5px;
				padding: 4px 0;

				&:before {
					content: "";
					position: absolute;
					display: inline-block;
					border: 9px solid transparent;
					border-bottom: 9px solid #555555;
					top: -18px;
					right: 44px;
					left: auto;
				}

				&:after {
					content: "";
					position: absolute;
					display: inline-block;
					border: 8px solid transparent;
					border-bottom: 8px solid $hoverLightGrayColor;
					top: -16px;
					right: 45px;
					left: auto;
				}

				.block {
					border-bottom: 2px solid #979797;
				}

				& li {
					cursor: pointer;
					padding: 4px 8px 4px 16px;
					margin: 4px 0;

					& a {
						color: white;
						padding: 0;
						margin: 0;
						border: none;

						&:hover {
							background-color: transparent;
						}
					}

					&:hover {
						background-color: $secondaryColor;
					}
				}
			}
		}
	}
}
