@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';


.header {
	grid-area: header;
	display: flex;

	.header-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: $logoNavbarWidth;
		width: $logoNavbarWidth;
		background-color: $secondaryColor;
	
		span {
			font-size: 38px;
			font-weight: 500;
		}
	}

	.header-search {
		width: 100vw;
		height: $headerHeight;
		display: flex;
		flex-direction: column;
	
		&-box {
			height: $headerHeight - 5px;
	
			input[type='text'] {
				width: 100%;
				height: inherit;
				background-color: inherit;
				color: inherit;
				text-align: center;
				font-size: 20px;
			}
	
			input[type='text']::placeholder {
				font-size: 20px;
				color: white;
				opacity: .45;
			}
	
			input[type='text']:focus::placeholder {
				color: transparent;
			}
		}
	
		&-radial-gradient {
			background: radial-gradient(53% 3px at center, $secondaryColor, $primaryColor);
			height: $headerHeight - 65px;
		}
	}

	.menu {
		display: none;
	};

	.menu-box {
		display: none;
	}
}

@media (max-width: $tablet-breakpoint) {
	.header {
		.menu-box {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: $menuBoxSize;
			width: $menuBoxSize;
			background-color: $secondaryColor;
			
			&-button {
				z-index: 3;
				width: $menuBoxSize / 2;
				height: $menuBoxSize / 2;
				cursor: pointer;
				
				&.inactive {
					@include menuButton;
				}
				
				&.active {
					@include menuButton;
		
					.line-1 {
						-webkit-transform: rotate(-45deg) translate(-9px, 7px);
						transform: rotate(-45deg) translate(-9px, 7px);
					}
					.line-2 {
						opacity: 0;
					}
					.line-3 {
						-webkit-transform: rotate(45deg) translate(-8px, -8px);
						transform: rotate(45deg) translate(-9px, -8px);
					}
				}
			}
		}

		.menu {
			display: block;

			&.active {
				display: flex;
				flex-flow: column nowrap;
				position: fixed;
				top: 0;
				left: 0;
				padding-top: $headerHeight;
				width: 300px;
				height: 100vh;
				background-color: $lightGrayColor;
				z-index: 2;
				transition: left .4s ease-in-out;
			}

			&.inactive {
				position: fixed;
				left: -300px;
				width: 300px;
				height: 100vh;
				padding-top: $headerHeight;
				background-color: $lightGrayColor;
				z-index: 2;
				transition: left .4s ease-in-out;
			}
		}

		.menu-shadow {
			&.active {
				position: fixed;
				top: 0;
				width: 100vw;
				height: 100vh;
				background-color: #222;
				opacity: 0.7;
				z-index: 1;
			}
		}

		.header-logo {
			display: none;
		}
	}
}