@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';

.description {
	grid-area: main;
	height: calc(100vh - 70px);
	padding: 25px 0 0px 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	line-height: 1.2;

	&-block {
		display: flex;
		flex-direction: column;

		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $secondaryColor;

		.desc-header {
			.title {
				font-size: 36px;

				@include _425 {
					font-size: 26px;
				}
			}

			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid $secondaryColor;
		}

		.detail {
			display: flex;

			@include _425 {
				flex-direction: column;
				align-items: center;
			}
			
			&-poster {
				margin-right: 20px;
				border-radius: 6px;
				min-width: 250px;
				overflow: hidden;

				@include _425 {
					margin-right: 0;
					margin-bottom: 10px;
					min-width: 200px;
				}
	
				img {
					width: 250px;
					height: $aspectRatio * 250px;

					@include _425 {
						width: 200px;
						height: $aspectRatio * 200px;
					}
				}

				.empty-poster {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 250px;
					height: $aspectRatio * 250px;
					font-size: 28px;
					color: #ffffff;
					background-color: $lightGrayColor;
					user-select: none;

					@include _425 {
						width: 200px;
						height: $aspectRatio * 200px;
						font-size: 24px;
					}
				}

				.poster-buttons {
					display: flex;
					align-items: center;
					justify-content: space-around;
					min-width: 250px;
					min-height: 40px;
					background-color: #151515;
					font-size: 22px;

					@include _425 {
						min-width: 200px;
						font-size: 18px;
					}


					.like-button {
						cursor: pointer;
						transition: .3s ease;

						&:hover {
							color: $secondaryColor;
						}
						
						&.active {
							color: $secondaryColor;
						}
					}

					.watch-list-button {
						cursor: pointer;
						transition: .3s ease;

						&:hover {
							color: #9575CD;
						}
						
						&.active {
							color: #9575CD;
						}
					}


					.rate-button {
						cursor: pointer;
						transition: .3s ease;

						&:hover {
							color: #FFD54F;
						}

						&.active {
							color: #FFD54F;
						}
					}

					.list-button {
						cursor: pointer;
						transition: .3s ease;
	
						&:hover {
							color: #64B5F6;
						}
					}
				}

				.modal-window {
					display: none;

					&.active {
						position: fixed;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: $modalColor;
						z-index: 3;

						.lists-wrapper {
							width: 60%;
							background-color: $darkGray;
							padding: 15px 10px;
							border-radius: 6px;

							@include _425 {
								width: 100%;
								border-radius: 0;
							}

							.lists-title {
								display: flex;
								justify-content: center;
								margin-bottom: 10px;
							}

							.create-list {
								color: #ffffff;
								border: 2px solid $secondaryColor;
								padding: 4px 10px;
								border-radius: 6px;
								transition: .2s ease;
								margin-bottom: 10px;

								@include _425 {
									font-size: 16px;
								}
								
								&:hover {
									background-color: $secondaryColor;
								}
							}

							.list {
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding: 6px;
								border-top: 1px solid $hoverLightGrayColor;

								@include _425 {
									padding: 3px;
								}
								
								&:last-child {
									border-bottom: 1px solid $hoverLightGrayColor;
								}
								
								&-name {
									font-size: 21px;
									margin-right: 10px;

									@include _425 {
										font-size: 16px;
										margin-right: 5px;
									}
								}

								&-items-count {
									font-size: 14px;
									opacity: .7;

									@include _425 {
										font-size: 11px;
									}
								}

								&:hover {
									background-color: $hoverLightGrayColor;
								}

								button {
									background-color: $primaryColor;
									padding: 5px;
									font-size: 18px;
									color: white;
									border: 1px solid $secondaryColor;
									border-radius: 6px;
									transition: .1s ease;

									@include _425 {
										padding: 3px;
										font-size: 16px;
									}

									&:hover {
										background-color: $secondaryColor;
									}
								}
							}
						}
					}
				}

			}

			&-text {
				.info {
					padding-bottom: 10px;
					margin-bottom: 10px;
					border-bottom: 1px solid $secondaryColor;
	
					@include _425 {
						padding: 0px 10px 10px;
						font-size: 16px;
					}

					&-item {
						margin-bottom: 6px;
					}
	
					span {
						color: $secondaryColor;
					}
				}
				
				.genres {
					display: flex;
					flex-flow: row wrap;
					align-items: center;
	
					&-item {
						margin-right: 8px;
						margin-bottom: 8px;
						padding: 5px 8px;
						border: 2px solid $secondaryColor;
						border-radius: 4px;
						user-select: none;
						
						@include _425 {
							margin-right: 4px;
							margin-bottom: 4px;
							padding: 3px;
							border-width: 1px;
						}
	
						&:hover {
							background-color: $secondaryColor;
						}
					}
	
				}

				.overview {
					@include _425 {
						padding: 0px 10px;
						font-size: 16px;
					}
				}
			}
		}
	}

	&-cast {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $secondaryColor;
		
		&-title {
			font-size: 28px;

			@include _425 {
				font-size: 22px;
			}
		}

		.more {
			margin-right: 20px;
			float: right;
			transition: .3s ease;
			border: 2px solid $secondaryColor;
			border-radius: 6px;
			padding: 4px 10px;
			user-select: none;

			@include _425 {
				margin-right: 10px;
				border-width: 1px;
				padding: 3px 5px;
				font-size: 16px;
			}

			&:hover {
				cursor: pointer;
				background-color: $secondaryColor;
			}
		}

		.cast {
			margin-top: 10px;
			padding-bottom: 10px;
			display: flex;
			overflow-x: scroll;

			&-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				min-width: 150px;
				width: 150px;
				border-radius: 6px;
				overflow: hidden;
				margin-right: 15px;
				background-color: $lightGrayColor;
				transition: .3s ease;
				color: #ffffff;

				@include _425 {
					min-width: 100px;
					width: 100px;	
				}

				img {
					width: 150px;
					height: 150px * $aspectRatio;

					@include _425 {
						width: 100px;
						height: 100px * $aspectRatio;
					}
				}

				.cast-name {
					margin: 10px 5px;
				}

				&:hover {
					cursor: pointer;
					background-color: $hoverLightGrayColor;
				}
			}
		}

		.modal-window {

			&.active {
				display: flex;
				flex-direction: column;
				z-index: 3;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $modalColor;


				& .close-button {
					cursor: pointer;
					margin: 3vh 12vw 3vh 88vw;
					display: flex;
					justify-content: space-around;
					flex-flow: column nowrap;
					width: 30px;
					height: 30px;

					&:hover {
						.line-1, .line-2 {
							background-color: #cccccc;
						}
					}
					
					.line-1, .line-2 {
						width: 40px;
						height: 4px;
						background-color: #ffffff;
						border-radius: 6px;
						transition: .2s ease;
					}

					.line-1 {
						transform: rotate(-45deg) translate(-9px, 1px);
					}

					.line-2 {
						transform: rotate(45deg) translate(-9px, -1px);
					}
				}

				.content-wrapper {
					display: flex;
					flex-flow: row nowrap;
					padding: 0 2%;
					width: 100%;
					height: calc(100vh - 6vh - 30px);
					overflow-y: scroll;

					@include _425 {
						flex-direction: column;
					}

					& > div {
						width: 100%;
					}

					& > div:last-child {
						margin-left: 20px;

						@include _425 {
							margin-left: 0;
						}
					}

					.title {
						font-size: 32px;
						margin: 15px 0;

						@include _425 {
							display: flex;
							justify-content: center;
						}
					}

					.list {
						display: flex;
						flex-flow: column nowrap;

						a {
							color: #ffffff;
						}
						
						.item {
							display: flex;
							align-items: center;
							height: 200px;
							overflow: hidden;
							border-top: 1px solid $hoverLightGrayColor;

							transition: .1s ease;

							&:hover {
								background-color: $lightGrayColor;
							}

							&:last-child {
								border-bottom: 1px solid $hoverLightGrayColor;

							}

							&-poster {
								min-width: 120px;
								width: 120px;
								margin-right: 20px;

								img {
									width: 100%;
								}
							}

							&-detail {
								height: 100%;
								display: flex;
								flex-flow: column nowrap;
								justify-content: flex-start;

								div {
									margin-top: 10px;
								}

								div span:first-child {
									display: block;
									color: #ffffff;
									opacity: .6;
								}
							}
						}
					}

					.crew-list {
						display: flex;
						flex-flow: row wrap;
					}
				}
			}

			&.inactive {
				display: none;
			}
		}
	}

	&-multimedia {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $secondaryColor;

		.videos {
			&.empty {
				display: none;
			}

			&-title {
				font-size: 28px;
				margin-bottom: 10px;

				@include _425 {
					font-size: 22px;
				}
			}
			
			&-content {
				display: flex;
				flex-flow: row nowrap;
				overflow-x: scroll;
				padding-bottom: 5px;
	
					.video {
						position: relative;
						margin-right: 25px;

						img {
							object-fit: cover;
							height: 160px;
							width: 160px * $aspectRatio;
							
							@include _425 {
								height: 120px;
								width: 120px * $aspectRatio;
							}
						}
	
						.preview-title {
							display: block;
							padding-top: 3px;
							width: 160px * $aspectRatio;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						
							@include _425 {
								width: 120px * $aspectRatio;
							}
						}
	
						.fade {
							cursor: pointer;
							display: flex;
							justify-content: center;
							align-items: center;
							position: absolute;
							height: 160px;
							width: 160px * $aspectRatio;
							top: 0;
							left: 0;
							transition: .3s ease;

							@include _425 {
								height: 120px;
								width: 120px * $aspectRatio;
							}
							
							.play-button {
								border-style: solid;
								border-width: 25px 0px 25px 50px;
								border-color: transparent transparent transparent #ffffff;
								opacity: .8;
								transition: .3s ease;

								@include _425 {
									border-width: 18px 0px 18px 36px;
								}
							}
	
							&:hover {
								background-color: #44444477;
	
								.play-button {
									border-color: transparent transparent transparent $secondaryColor;
								}
							}
						}
					}
			}

			.modal-video.active {
				z-index: 3;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $modalColor;

				user-select: none;

				.close-button {
					cursor: pointer;
					margin: 3vh 12vw 3vh 88vw;
					display: flex;
					justify-content: space-around;
					flex-flow: column nowrap;
					width: 30px;
					height: 30px;

					&:hover {
						.line-1, .line-2 {
							background-color: #cccccc;
						}
					}

					.line-1, .line-2 {
						width: 40px;
						height: 4px;
						background-color: #fff;
						border-radius: 6px;
						transition: .2s ease;
					}

					.line-1 {
						transform: rotate(-45deg) translate(-9px, 1px)
					}

					.line-2 {
						transform: rotate(45deg) translate(-9px, -1px)
					}
				}

				.video-wrapper {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: calc(100vh - 6vh - 30px);
					
					iframe {
						width: 70%;
						height: 70%;
					}
				}
			}
			

			.modal-video.inactive {
			  display: none;
			}
		}

		.images {
			&.empty {
				display: none;
			}

			&-title {
				font-size: 28px;
				margin-bottom: 10px;

				@include _425 {
					font-size: 22px;
				}
			}

			&-content {
				display: flex;
				flex-flow: row nowrap;
				overflow-x: scroll;
				align-items: center;
				padding-bottom: 5px;

				.image {
					margin-right: 20px;
					
					.backdrop-img {
						border-radius: 8px;
						height: 170px;
						width: 170px * 1.7;
						transition: .3s ease;

						@include _425 {
							height: 130px;
							width: 130px * 1.7;
						}

						&:hover {
							cursor: pointer;
							opacity: .6;
						}
					}

					.poster-img {
						border-radius: 8px;
						width: 170px;
						height: 170px * $aspectRatio;
						transition: .3s ease;

						@include _425 {
							width: 130px;
							height: 130px * $aspectRatio;
						}

						&:hover {
							cursor: pointer;
							opacity: .6;
						}
					}
				}
			}

			.modal-image.active {
				z-index: 3;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $modalColor;

				.close-button {
					cursor: pointer;
					margin: 3vh 12vw 3vh 88vw;
					display: flex;
					justify-content: space-around;
					flex-flow: column nowrap;
					width: 30px;
					height: 30px;

					&:hover {
						.line-1, .line-2 {
							background-color: #cccccc;
						}
					}

					.line-1, .line-2 {
						width: 40px;
						height: 4px;
						background-color: #fff;
						border-radius: 6px;
						transition: .2s ease;
					}

					.line-1 {
						transform: rotate(-45deg) translate(-9px, 1px)
					}

					.line-2 {
						transform: rotate(45deg) translate(-9px, -1px)
					}
				}

				.centered-image {
					display: flex;
					justify-content: space-around;
					width: 100%;
					height: calc(100vh - 6vh - 30px);

					.image-container {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 70%;

						img {
							max-width: 100%;
							max-height: 100%;
						}
					}

					.arrow-button {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 15%;
						font-size: 40px;
						background-color: rgba(0,0,0,0.3);
						transition: .3s ease;
						
						&:hover {
							cursor: pointer;
							background-color: $primaryColor;
						}

						user-select: none;
					}
				}
			}
			

			.modal-image.inactive {
			  display: none;
			}
		}
	}

	.recommended-and-similar {

		.empty-poster {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 28px;
			color: #ffffff;
			background-color: $lightGrayColor;
			user-select: none;
			border-radius: 6px;
			width: 200px;
			height: 200px * $aspectRatio;
			transition: .3s ease;

			@include _425 {
				width: 150px;
				height: 150px * $aspectRatio;
				font-size: 22px;
			}

			&:hover {
				background-color: $hoverLightGrayColor;
			}
		}

		.recommended {
			&.empty {
				display: none;
			}

			&-title {
				font-size: 28px;
				margin-bottom: 10px;

				@include _425 {
					font-size: 22px;
				}
			}

			&-content {
				display: flex;
				flex-flow: row nowrap;
				overflow-x: scroll;
				padding-bottom: 5px;

				.item {
					margin-right: 20px;
					text-align: center;

					&-title {
						margin-top: 5px;

						@include _425 {
							font-size: 16px;
						}
					}

					img {
						border-radius: 6px;
						width: 200px;
						height: 200px * $aspectRatio;
						transition: .3s ease;
	
						@include _425 {
							width: 150px;
							height: 150px * $aspectRatio;
						}

						&:hover {
							opacity: .65;
						}
					}

					a {
						color: inherit;
					
						&:hover {color: $secondaryColor}
					}
				}
			}
		}

		.similar {
			&.empty {
				display: none;
			}

			&-title {
				font-size: 28px;
				margin-bottom: 10px;

				@include _425 {
					font-size: 22px;
				}
			}

			&-content {
				display: flex;
				flex-flow: row nowrap;
				overflow-x: scroll;
				padding-bottom: 5px;

				.item {
					margin-right: 20px;
					text-align: center;

					&-title {
						margin-top: 5px;

						@include _425 {
							font-size: 16px;
						}
					}

					img {
						border-radius: 8px;
						width: 200px;
						height: 200px * $aspectRatio;
						transition: .3s ease;
	
						@include _425 {
							width: 150px;
							height: 150px * $aspectRatio;
						}
						
						&:hover {
							opacity: .65;
						}
					}

					a {
						color: inherit;
					
						&:hover {color: $secondaryColor}
					}
				}
			}
		}
	}
}