@import '../../sass/variables.scss';

li {
	& .active {
		border-left: 3px solid $secondaryColor;
	}


	
	& a {
		display: block;
		color: #fff;
		padding: 20px 50px;
		margin: 15px 0;

		&.active {
			padding-left: 50px - 3px;
			color: $secondaryColor;
		}
	
		&:hover:not(.active) {
			background-color: $lightGrayColor;
			color: #fff;
		}
	}
}