@import 'sass/variables.scss';

.App {
  display: grid;
  width: 100%;

  grid-template-areas: 
    "header header"
    "navbar main";
  grid-template-rows: $headerHeight 1fr;
  grid-template-columns: $logoNavbarWidth 8fr;
}

@media (max-width: $phone-breakpoint) {
  .App {
    display: grid;
    width: 100%;
  
    grid-template-areas: 
      "header"
      "main";
    grid-template-rows: $headerHeight 1fr;
    grid-template-columns: 1fr;
  }
}